@import 'colorPalette'

#alerta
  visibility: visible
  min-width: 120px
  background-color: $kumera-200
  color: #27272a
  text-align: center
  border-radius: 5px
  padding: 16px
  position: fixed
  z-index: 1
  font-size: 17px
  top: 30px
  right: 30px

  &.show-alert
    visibility: visible
    -webkit-animation: fadein 1s, fadeout 1.5s 3s forwards
    animation: fadein 1s, fadeout 1.5s 3s forwards

  &.close-alert
    -webkit-animation: fadeout 1.5s 1.9s forwards
    animation: fadeout 1.5s 2s forwards

  
.cont-text
  display: flex
  flex-direction: column
  text-align: left

#icon-error
    color: $kumera-600
    font-size: 25px
    margin-right: 5px
    display: flex
    align-items: center

#cerrar-notificacion
    color: $kumera-600
    font-size: 20px
    margin-left: 5px
    cursor: pointer
    position: fixed
    top: 0px
    right: 8px

#titulo-error
  font-weight: bold
  

#mensaje
    margin-right: 0.5rem
    margin-left: 0.5rem

.cont-alert 
    display: flex


@-webkit-keyframes fadein
  from
    transform: translateX(800px)

  to
    transform: translateX(0)


@keyframes fadein
  from
    transform: translateX(800px)
  to
    transform: translateX(0)

@-webkit-keyframes fadeout
  from
    transform: translateX(0)
  to
    transform: translateX(800px)


//Media Querys

//Dispositivos moviles
@media only screen and (max-width: 600px)
    #alerta
        max-width: 250px
        width: 90%

    #mensaje
      font-size: 12px
      margin-left: 0.5rem

    #icon-error
      display: flex
      align-items: center


// Tabletas 
@media only screen and (min-width: 601px) and (max-width: 1024px)
    .cont-login
        max-width: 80%

// Desktops
@media only screen and (min-width: 1025px)
    