.cont-pagina 
    .card
        h1.titulo  New Tasks
        h2.tasks-num 1
        a.btn-tasks(href="/") Details

    .card
        h1.titulo  Pending Tasks
        h2.tasks-num 1
        a.btn-tasks(href="/") Details
    
    .card
        h1.titulo  Completed Tasks
        h2.tasks-num 1
        a.btn-tasks(href="/") Details