doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        link(rel="stylesheet", href="/css/globalStyle.css")
        link(rel="stylesheet", href="/css/loginStyle.css")
        link(rel="stylesheet", href="/css/alertStyle.css")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200")
        title Iniciar Sesión
    body 
        //- Error de server
        if typeOfError === 1
            include Elements_pug/Alerts/fatalErrorAlert.pug 

        if typeOfError === 2
            include Elements_pug/Alerts/credentialsIncorrectAlert.pug 

        .cont-login
            h2.titulo Login
            form(action="/sign-in-login", method="post", id='formulario')
                //- Medios del usuario
                label(for="user" class='etiq-form') User  
                input(type="text", name="user", id='user' class='inpt-form' required)
                //- Medios de la contrasenia
                label(for="pwd" class='etiq-form') Password  
                input(type="password", name="pwd", id='pwd', class='inpt-form' required)

                //- Medio para mostrar la contrasenia
                label(for="show-pwd" class='etiq-ch')
                    input(type="checkbox" id="show-pwd" name="checkBoxPWD")
                    |  Show password


                //- Boton
                button(type="submit", class="btn") Sign in

        //- Script para mostrar la contraseña
        script.
            const isSelected = document.getElementById("show-pwd");
            const pwd = document.getElementById("pwd");

            // Evento cuando se tenga un click
            isSelected.addEventListener('click', () => {
                if(pwd.type === 'password') {
                    pwd.type = 'text';
                } else { 
                    pwd.type = 'password';
                }
            });

