doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        link(rel="stylesheet", href="/css/globalStyle.css")
        link(rel="stylesheet", href="/css/logInStyle.css")
        link(rel="stylesheet", href="/css/alertStyle.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Login
    body 
        //- Alertas
        if alerta
            include Frag/alertasCarcasa.pug 

        .cont-login
            h2.titulo Login
            form(action="/sign-in-login", method="post", id='formulario')
                //- Medios del usuario
                label(for="user" class='etiq-form') User  
                input(type="text", name="user", id='user' class='inpt-form' required)
                //- Medios de la contrasenia
                label(for="pwd" class='etiq-form') Password  
                input(type="password", name="pwd", id='pwd', class='inpt-form' required)

                //- Medio para mostrar la contrasenia
                label(for="show-pwd" class='etiq-ch')
                    input(type="checkbox" id="show-pwd" name="checkBoxPWD")
                    |  Show password

                //- Boton
                button(type="submit", class="btn") Sign in
            // Contenido del registrarse
            .cont-link
                p.texto You do not have an account?
                    a(href='/sign-up' class="registrate") Sign up

        //- Script para mostrar la contraseña
        script.
            const isSelected = document.getElementById("show-pwd");
            const pwd = document.getElementById("pwd");

            // Evento cuando se tenga un click
            isSelected.addEventListener('click', () => {
                if(pwd.type === 'password') {
                    pwd.type = 'text';
                } else { 
                    pwd.type = 'password';
                }
            });