//- Contenido del navbar para reutilizar
.cont-navbar
    nav#navbar 
        ol#ol-navbar
            li.li-navbar  
                p.text Welcome Marco Antonio Trejo Avila #{usuario}!
            li.li-navbar
                .cont-btn
                    a.enlace(href="/") Cerrar sesión 