doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/pantallaPrincStyle.css")
        link(rel="stylesheet", href="/css/navbarStyle.css")
        link(rel="stylesheet", href="/css/globalStyle.css")
        link(rel="stylesheet", href="/css/cardsStyle.css")
        title G_Tasks
    body 
    
        //-NavBar
        include navbar.pug
        //- Cartas del pug
        include cards.pug 