div(class='modal' id='Modal-res-can')
    .cont-modal 
        .cont-close-btn
            span(id='btn-cls-can-task') &times;
        h1.title You really want to cancell this task?
        .cont-form
            form(action=`/` class="formulario" method='POST' autocomplete="off", id='fom-can-task')
                .cont-firsRD
                    label(class="etiqueta-form" for ='rs-fin-can') Reason:
                    textarea(name="reason_cancell", class="entrada text-area", id='rs-fin-can', required)
                    .cont-btns
                        button(type="button", class="btn" id='b-n-fin-can') NO
                        //- a(class="btn-del" id='b-del') YES
                        button(type="submit" class="btn-del") YES
script.
    
    // Evento para cerrar el modal
    document.getElementById('btn-cls-can-task').addEventListener('click', () => {
        const modal = document.getElementById("Modal-res-can");
        // Primer contenedor
        modal.classList.add('hide');
        modal.classList.remove('show');
        const labelRason = document.getElementById('rs-fin-can'); // Este elemento esta en modalFinish
        setTimeout(() => {
            modal.style.display = 'none';
            labelRason.value = '';
        }, 200);
    });

    document.getElementById('b-n-fin-can').addEventListener('click', () => {
        const modal = document.getElementById("Modal-res-can");
        // Primer contenedor
        modal.classList.add('hide');
        modal.classList.remove('show');
        const labelRason = document.getElementById('rs-fin-can'); // Este elemento esta en modalFinish

        setTimeout(() => {
            modal.style.display = 'none';
            labelRason.value = '';
        }, 200);
    });

    //- document.getElementById('btn-cambio-fin-task').addEventListener('click', () => {
    //-     const modal = document.getElementById("Modal-resFin");
    //-     // Primer contenedor
    //-     modal.classList.add('show');
    //-     modal.classList.remove('hide');
    //-     modal.style.display = 'block';
    //- });

    //- // Itera sobre cada botón y agrega el event listener
    //- document.querySelectorAll('.btn-del').forEach(button => {
    //-     button.addEventListener('click', () => {
    //-         const modal = document.getElementById("Modal-resFin");
    //-         // Primer contenedor
    //-         modal.classList.add('show');
    //-         modal.classList.remove('hide');
    //-     });
    //- });
