//- Para estilizar esto usa "navbarStyle"
//- Contenido del navbar para reutilizar
.cont-navbar
    nav#navbar 
        ol#ol-navbar
            li.li-navbar  
                p.text Hi #{user}!

            li.li-navbar
                    a(class='enlace' id='n-task') New task
            li.li-navbar
                    a.enlace(href="/logout") Logout